body{
  font-family: "Open Sans",Arial,"Hiragino Sans GB","Microsoft YaHei","微软雅黑","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
  font-size: 1.6rem;
  word-break: break-all;
  word-wrap: break-word;
}

a{
  text-decoration: none;
  vertical-align: baseline;
  transition: all 0.2s ease 0s;
}

a:hover{
  color: #51ADED;
  text-decoration: none;
}

article.posts{
  border-bottom: 1px solid #E6EAED;
}

.content p, .content h3, .content h4, .content h5, .content h6, .content pre, .content ul, .content ol, .content dl, .content form, .content table, .content blockquote, .content iframe{
  margin-bottom: 30px;
}